# Training data files
DATA/
CLEANED_DATA/
CLEANED_DATA_TEST/
2ND_BATCH_DATA/
2ND_DATA/
2ND_BATCH_CLEANED/
3RD_BATCH_SYMBOLS/
4TH_BATCH_SYMBOLS/
5TH_BATCH_SYMBOLS/
6TH_BATCH_SYMBOLS/
7TH_BATCH_SYMBOLS/
8TH_BATCH_SYMBOLS/
9TH_BATCH_SYMBOLS/
10TH_BATCH_SYMBOLS/

# Folder stuff
/.venv
/.idea
/__pycache__
.DS_Store
